body{
    margin: 0;
    padding: 0;
    background-color: darkslategrey;
}

div{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
    padding: 0;
}

span{
    margin: 0;
    padding: 0;
}

a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 20px;
}

.card{
    height: 333px;
    width: 325px;
    background-color: whitesmoke;
}

@keyframes slideup{
    0%{
        height: 208px;
    }

    100%{
        height: 110px;
        background-color: #222121c2;
    }
    
    /* 100%{
        height: 208px;
    } */
}

.sec-picture:hover{
    animation: slideup .4s forwards;
}

.sec-picture-rev{
    animation: slideup reverse .4s forwards;
}

.card .sec-picture{
    height: 208px;
    width: 325px;
    background-color: #dbd8d8c2;
}

.info-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.info-picture h2{
    font-size: 35px;
    color: rgb(155, 153, 153);
}

.date{
    position: absolute;
    transform: translate(268px, 8px);
    margin: 0;
    padding: 0;
    background-color: #62daaf;
    width: 36px;
    height: 34px;
    text-align: center;
    border-radius: 30px;
}

.date :nth-child(1){
    font-size: 15px;
    font-weight: 800;
    color: white;
}

.date :nth-child(2){
    font-size: 10px;
    font-weight: 600;
    color: white;
}

.date{
    padding : 3px;
}

.photo{
    position: absolute;
    transform: translate(0px, -26px);
    background-color: #62daaf;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 85px;
}

.photo p{
    font-size: 14px;
    font-weight: 300;
    color: white;
    margin: 5px;
}

.sec-info{
    margin: 15px;
}

.title h2{
    font-weight: bold;
}

.link{
    margin-top: 15px;
}

.link a{
    color: #62daaf;
    font-size: 18px;
    font-weight: 500;
}

.text{
    display: none;
}